In [ ]:
#1A: show statistics(mean,std,...) for each feature using groupby, make barplots to show distribution
#1B: 1.impute missing values using mean value 2.impute missing values as 0
#1C: re-format the data into patient, time, mood, activity, call..., aggregate by 5-day windows to generate instances for training

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
rawdata=pd.read_csv("dataset_mood_smartphone.csv")

In [9]:
rawdata

        Unnamed: 0       id                     time        variable   value
0                1  AS14.01  2014-02-26 13:00:00.000            mood   6.000
1                2  AS14.01  2014-02-26 15:00:00.000            mood   6.000
2                3  AS14.01  2014-02-26 18:00:00.000            mood   6.000
3                4  AS14.01  2014-02-26 21:00:00.000            mood   7.000
4                5  AS14.01  2014-02-27 09:00:00.000            mood   6.000
...            ...      ...                      ...             ...     ...
376907     2770399  AS14.30  2014-04-11 07:51:16.948  appCat.weather   8.032
376908     2772465  AS14.30  2014-04-19 11:00:32.747  appCat.weather   3.008
376909     2774026  AS14.30  2014-04-26 10:19:07.434  appCat.weather   7.026
376910     2774133  AS14.30  2014-04-27 00:44:48.450  appCat.weather  23.033
376911     2784435  AS14.32  2014-04-07 18:25:14.036  appCat.weather  22.431

[376912 rows x 5 columns]

In [10]:
rawdata=rawdata.drop('Unnamed: 0',axis=1)

In [34]:
rawdata.groupby('variable')['value'].mean()

variable
activity                  0.115958
appCat.builtin           18.538262
appCat.communication     43.343792
appCat.entertainment     37.576480
appCat.finance           21.755251
appCat.game             128.391615
appCat.office            22.578892
appCat.other             25.810839
appCat.social            72.401906
appCat.travel            45.730850
appCat.unknown           45.553006
appCat.utilities         18.537552
appCat.weather           20.148714
call                      1.000000
circumplex.arousal       -0.098624
circumplex.valence        0.687808
mood                      6.992555
screen                   75.335206
sms                       1.000000
Name: value, dtype: float64

In [35]:
rawdata.groupby('variable')['value'].max()

variable
activity                    1.000
appCat.builtin          33960.246
appCat.communication     9830.777
appCat.entertainment    32148.677
appCat.finance            355.513
appCat.game              5491.793
appCat.office           32708.818
appCat.other             3892.038
appCat.social           30000.906
appCat.travel           10452.615
appCat.unknown           2239.937
appCat.utilities         1802.649
appCat.weather            344.863
call                        1.000
circumplex.arousal          2.000
circumplex.valence          2.000
mood                       10.000
screen                   9867.007
sms                         1.000
Name: value, dtype: float64

In [36]:
rawdata.groupby('variable')['value'].min()

variable
activity                    0.000
appCat.builtin         -82798.871
appCat.communication        0.006
appCat.entertainment       -0.011
appCat.finance              0.131
appCat.game                 1.003
appCat.office               0.003
appCat.other                0.014
appCat.social               0.094
appCat.travel               0.080
appCat.unknown              0.111
appCat.utilities            0.246
appCat.weather              1.003
call                        1.000
circumplex.arousal         -2.000
circumplex.valence         -2.000
mood                        1.000
screen                      0.035
sms                         1.000
Name: value, dtype: float64

In [11]:
mood = rawdata[rawdata['variable']=='mood']

In [14]:
avgmood=mood.groupby(['id','day'])['value'].mean()

In [11]:
rawdata['time']=pd.to_datetime(rawdata['time'])

In [32]:
rawdata=rawdata.drop('Unnamed: 0',axis=1)

In [86]:
rawdata[rawdata['value'].isna()].variable.value_counts()

variable
circumplex.valence    156
circumplex.arousal     46
Name: count, dtype: int64

In [12]:
rawdata.set_index('time',inplace=True)

In [13]:
raw_resampled=rawdata.groupby(['id','variable']).resample('D').sum()['value']

In [14]:
raw_resampled=raw_resampled.to_frame()

In [15]:
raw_resampled=raw_resampled.reset_index()

In [18]:
raw_resampled

            id  variable       time     value
0      AS14.01  activity 2014-03-20  0.163095
1      AS14.01  activity 2014-03-21  3.083152
2      AS14.01  activity 2014-03-22  3.790084
3      AS14.01  activity 2014-03-23  2.141117
4      AS14.01  activity 2014-03-24  1.895065
...        ...       ...        ...       ...
20454  AS14.33       sms 2014-05-25  1.000000
20455  AS14.33       sms 2014-05-26  3.000000
20456  AS14.33       sms 2014-05-27  2.000000
20457  AS14.33       sms 2014-05-28  1.000000
20458  AS14.33       sms 2014-05-29  1.000000

[20459 rows x 4 columns]